In [30]:
import pandas as pd
import numpy as np

In [31]:
df = pd.read_csv("IMDB_top_1000_LV.csv")
df

,Movie_ID,Title,Certificate,Duration,Genre,Rate,Metascore,Description,Year,Directors,Stars,Votes,Gross($M)
0,1,The Shawshank Redemption,13+,142,Drama,9.3,80,Two imprisoned men bond over a number of years...,1994,Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",2377444,28.34
1,2,The Godfather,16,175,"Crime, Drama",9.2,100,An organized crime dynasty's aging patriarch t...,1972,Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan, Diane Ke...",1646788,134.97
2,3,The Dark Knight,16,152,"Action, Crime, Drama",9.0,84,When the menace known as the Joker wreaks havo...,2008,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",2341216,534.86
3,4,The Godfather: Part II,12,202,"Crime, Drama",9.0,90,The early life and career of Vito Corleone in ...,1974,Francis Ford Coppola,"Al Pacino, Robert De Niro, Robert Duvall, Dian...",1146645,57.30
4,5,12 Angry Men,14,96,"Crime, Drama",9.0,96,A jury holdout attempts to prevent a miscarria...,1957,Sidney Lumet,"Henry Fonda, Lee J. Cobb, Martin Balsam, John ...",701877,4.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Breakfast at Tiffany's,AL,115,"Comedy, Drama, Romance",7.6,76,A young New York socialite becomes interested ...,1961,Blake Edwards,"Audrey Hepburn, George Peppard, Patricia Neal,...",168708,0.00
996,997,Giant,G,201,"Drama, Western",7.6,84,Sprawling epic covering the life of a Texas ca...,1956,George Stevens,"Elizabeth Taylor, Rock Hudson, James Dean, Car...",34593,0.00
997,998,From Here to Eternity,12,118,"Drama, Romance, War",7.6,85,"In Hawaii in 1941, a private is cruelly punish...",1953,Fred Zinnemann,"Burt Lancaster, Montgomery Clift, Deborah Kerr...",43867,30.50
998,999,Lifeboat,None,97,"Drama, War",7.6,78,Several survivors of a torpedoed merchant ship...,1944,Alfred Hitchcock,"Tallulah Bankhead, John Hodiak, Walter Slezak,...",26791,0.00
999,1000,The 39 Steps,14,86,"Crime, Mystery, Thriller",7.6,93,A man in London tries to help a counter-espion...,1935,Alfred Hitchcock,"Robert Donat, Madeleine Carroll, Lucie Mannhei...",52686,0.00

**Pandas DataFrame oluşturma**

In [32]:
my_data = [1, 3, 5, 7, 9, 18]
my_data

[1, 3, 5, 7, 9, 18]

In [33]:
pd.DataFrame(data = my_data, columns = ["Column1"]) # Pandas DataFrame oluşturma

   Column1
0        1
1        3
2        5
3        7
4        9
5       18

In [34]:
pd.Series(data = my_data, name = "column1") # pandas Series oluşturma

0     1
1     3
2     5
3     7
4     9
5    18
Name: column1, dtype: int64

In [35]:
arr_data = np.arange(1,24,2).reshape(3,4) # NumPy array oluşturma
arr_data

array([[ 1,  3,  5,  7],
       [ 9, 11, 13, 15],
       [17, 19, 21, 23]])

In [36]:
pd.DataFrame(data = arr_data, columns= ["var1", "var2","var3","var4"]) # NumPy Array'lerden Pandas DataFrame oluşturma

   var1  var2  var3  var4
0     1     3     5     7
1     9    11    13    15
2    17    19    21    23

In [37]:
s1 = np.random.randint(2, 10, size = 4)
s2 = np.random.randint(3, 10, size = 4)
s3 = np.random.randint(4, 15, size = 4)

In [38]:
myDict = {"var1" : s1, "var2": s2, "var3": s3}
myDict

{'var1': array([4, 5, 7, 4]),
 'var2': array([3, 5, 6, 3]),
 'var3': array([ 5, 12, 12,  6])}

In [39]:
df = pd.DataFrame(data = myDict) # dictionarileri ile pandas df oluştururken key'ler sütun  name olur
df

   var1  var2  var3
0     4     3     5
1     5     5    12
2     7     6    12
3     4     3     6

In [24]:
df.head() # veririn ilk 5 satırını gösterir. () içindeki değer kadar getirir

   var1  var2  var3
0     7     9     9
1     7     4     6
2     9     3     5
3     3     6     7

In [40]:
df.tail(2) # veririn son 5 satırını gösterir. ()içindeki değer kadar getirir

   var1  var2  var3
2     7     6    12
3     4     3     6

In [41]:
df.sample() # datadan rasgele örnekler getirir. sample(4) içindeki değer kadar

   var1  var2  var3
3     4     3     6

In [43]:
df.columns # column isimlerini getirir. Bu bir iterable değer olduğu için for döngüsüne sokulabilir "for i in df.colums"

Index(['var1', 'var2', 'var3'], dtype='object')

In [45]:
for i in df.columns: # for döngüsü ile her sütunun ortalaması alındı
  print(df[i].mean())

5.0
4.25
8.75

In [ ]:
for i in df.columns: # for döngüsü ile her sütunun standart sapması alındı
  print(df[i].std())

In [46]:
myDict["var1"]

array([4, 5, 7, 4])

In [47]:
df["var1"] # yazılan sütunun değerlerini index numarası ile birlikte getirir (index değer)

0    4
1    5
2    7
3    4
Name: var1, dtype: int64

In [54]:
df.index #

RangeIndex(start=0, stop=4, step=1)

In [56]:
[i for i in df.index] # for döngüsü list comprehension kullanımı ile df.index fonk. gelen değerleri görüntüleme

[0, 1, 2, 3]

In [60]:
df.columns # DataFrame(df) sütun isimlerini görüntüleme

Index(['var1', 'var2', 'var3'], dtype='object')

In [61]:
df.columns = "new1","new2","new3" # df sütunlara yeniden isim verme
df

   new1  new2  new3
0     4     3     5
1     5     5    12
2     7     6    12
3     4     3     6

In [70]:
df.rename(columns = {"new1" :"yeni", "new2": "yeni2"}) # bu şekilde istediğimiz field'ların adı değiştirebilir. hepsini yazmamıza gerek yok

     yeni  yeni2  new3
100     4      3     5
101     5      5    12
102     7      6    12
103     4      3     6

In [67]:
df.index = ["a","b","c","d"] # df indexleri yeniden indexleme
df

   new1  new2  new3
a     4     3     5
b     5     5    12
c     7     6    12
d     4     3     6

In [71]:
df.index = np.arange(100,104) #df indexleri yeniden indexleme
df

     new1  new2  new3
100     4     3     5
101     5     5    12
102     7     6    12
103     4     3     6

In [74]:
df.rename(index = {100:1, 102:2}) #df indexleri yeniden indexleme. istenilen indeksleri değiştirme

     new1  new2  new3
1       4     3     5
101     5     5    12
2       7     6    12
103     4     3     6

In [75]:
df.shape # verinin shape'i (row, column) şeklinde sonuç getirir

(4, 3)

In [ ]:
number_of_row = df.shape[0] # satır sayısını bir değere atama.

In [76]:
df.ndim # boyutunu gösterir. satır ve sütunlar olduğu için 2 boyutlu

2

In [77]:
df.values # value'ların değerlerini gösterir

array([[ 4,  3,  5],
       [ 5,  5, 12],
       [ 7,  6, 12],
       [ 4,  3,  6]])

In [78]:
df.size # eleman (value) sayısı row X col.

12

In [79]:
type(df["new1"]) # yazılan sütun'un type'i

pandas.core.series.Series

In [81]:
"new1" in df # df içinde n4 satır arama. varsa True yoksa False sonuç döndürür

True

In [80]:
"n4" in df # df içinde n4 değerini arama. varsa True yoksa False sonuç döndürür

False

In [82]:
df["new1"] # new1 sütunun değerlerini index numarası iel birlikte getirir

100    4
101    5
102    7
103    4
Name: new1, dtype: int64

In [83]:
df[["new1"]] # list object şeklinde "[[]]" şeklinde koyduğumuzda DataFrame görünümünde getir

     new1
100     4
101     5
102     7
103     4

**indexing & slicing & selection**

In [88]:
import numpy as np
from numpy.random import randn

In [89]:
np.random.seed(101)
df = pd.DataFrame(randn(5, 4), index = 'A B C D E'.split(), columns = 'W X Y Z'.split()) #DataFrame oluşturma
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [91]:
df[["Y"]] # sütun getirme df görünümü #[[]]

          Y
A  0.907969
B -0.848077
C  0.528813
D -0.933237
E  2.605967

In [92]:
df[["Y","W"]] # çoklu sütun getirme. Yazılan sıra ile getirir.

          Y         W
A  0.907969  2.706850
B -0.848077  0.651118
C  0.528813 -2.018168
D -0.933237  0.188695
E  2.605967  0.190794

In [94]:
df["A":"D"] # slicing ile indexler slice'lanır. columns slice'lanmaz hata verir

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [96]:
df["A":"C"][["Z","X"]] #slice'lanan indexlerden istediğimiz sütunları getirme. sadece Z v X sütunları getirildi.

          Z         X
A  0.503826  0.628133
B  0.605965 -0.319318
C -0.589001  0.740122

In [98]:
df["new1"] = df["X"] * df["Y"]  #oluşturulan yeni sütunun içine X ve Y sütunlarının çarpımında oluşan yeni  değerler yazıldı.
df

          W         X         Y         Z      new1
A  2.706850  0.628133  0.907969  0.503826  0.570325
B  0.651118 -0.319318 -0.848077  0.605965  0.270806
C -2.018168  0.740122  0.528813 -0.589001  0.391387
D  0.188695 -0.758872 -0.933237  0.955057  0.708208
E  0.190794  1.978757  2.605967  0.683509  5.156577

In [99]:
df["new2"] =np.arange(5) # yeni sütuna np.arange fonk. ile değerler yazıldı.
df

          W         X         Y         Z      new1  new2
A  2.706850  0.628133  0.907969  0.503826  0.570325     0
B  0.651118 -0.319318 -0.848077  0.605965  0.270806     1
C -2.018168  0.740122  0.528813 -0.589001  0.391387     2
D  0.188695 -0.758872 -0.933237  0.955057  0.708208     3
E  0.190794  1.978757  2.605967  0.683509  5.156577     4

In [102]:
df.drop("new1", axis = 1) # sütun silme

          W         X         Y         Z  new2
A  2.706850  0.628133  0.907969  0.503826     0
B  0.651118 -0.319318 -0.848077  0.605965     1
C -2.018168  0.740122  0.528813 -0.589001     2
D  0.188695 -0.758872 -0.933237  0.955057     3
E  0.190794  1.978757  2.605967  0.683509     4

In [106]:
df.drop("new1", axis = 1, inplace = True) # sütun silme (düşürme). kalıcı yapmak için --> inplace =True
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df.drop("C", axis =0) # satır silme (düşürme). kalıcı yapmak için --> inplace =True
df

In [108]:
df_temp = df.drop('C', axis = 0) # ana dosyayı bozmamak için yeni bir df oluşturma. oluşturken 1 sütun silindi
df_temp

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [112]:
data = np.random.randint(1,40, size = (8,4))
df = pd.DataFrame(data = data, columns = ["var1", "var2","var3","var4"]) # yeni df oluşturma
df

   var1  var2  var3  var4
0    37    19    15    29
1    18    24    17     7
2     8    21    11    33
3    24    23    22    27
4    13     3    18     2
5    26     3    17     3
6    25    16    30     7
7    29    23    21    26

In [113]:
df.loc[4] #satır getirme #loc[row, column]

var1    13
var2     3
var3    18
var4     2
Name: 4, dtype: int64

In [114]:
df.loc[2:4] #slicing ile satır getirme  #loc[row, column]

   var1  var2  var3  var4
2     8    21    11    33
3    24    23    22    27
4    13     3    18     2

In [117]:
df.index = "a,b,c,d,e,f,g,h".split(",") #yeni indekx numaraları verildi.
df

   var1  var2  var3  var4
a    37    19    15    29
b    18    24    17     7
c     8    21    11    33
d    24    23    22    27
e    13     3    18     2
f    26     3    17     3
g    25    16    30     7
h    29    23    21    26

In [118]:
df.iloc[2:4] # satır getirme #arka planda sayısal indexler çalışır.

   var1  var2  var3  var4
c     8    21    11    33
d    24    23    22    27

In [123]:
df.loc["d":"g"] ["var2"] # satır ve sütun getirme (series görünümü)

d    23
e     3
f     3
g    16
Name: var2, dtype: int64

In [122]:
df.loc["d":"h",["var1","var3"]] # .loc ile satır ve sütun getirme (DataFrame görünümü)

   var1  var3
d    24    22
e    13    18
f    26    17
g    25    30
h    29    21

**Conditional Selection**

In [127]:
df > 10 # condation için geçerli değerleri "True" geçersiz değerleri "False" olarak getir.(10'dan büyük değerler True)

    var1   var2  var3   var4
a   True   True  True   True
b   True   True  True  False
c  False   True  True   True
d   True   True  True   True
e   True  False  True  False
f   True  False  True  False
g   True   True  True  False
h   True   True  True   True

In [128]:
df[df > 10] # condation için geçerli değerleri getirir, geçersiz değerleri "NaN" olarak getir.(10'dan küçük değerler NaN)

   var1  var2  var3  var4
a  37.0  19.0    15  29.0
b  18.0  24.0    17   NaN
c   NaN  21.0    11  33.0
d  24.0  23.0    22  27.0
e  13.0   NaN    18   NaN
f  26.0   NaN    17   NaN
g  25.0  16.0    30   NaN
h  29.0  23.0    21  26.0

In [132]:
df[df["var2"] > 10] #seçilen sütun için condation'da geçerli değerleri getirdi. seçilen sütunda condation için geçersiz değerler DataFrame yok.diğer sütunlarda condation devre dışı, çalışmadı

   var1  var2  var3  var4
a    37    19    15    29
b    18    24    17     7
c     8    21    11    33
d    24    23    22    27
g    25    16    30     7
h    29    23    21    26

In [135]:
df[df["var1"] > 10][["var1"]] #condation için geçerli değerler ve seçilen sütun getirildi.

   var1
a    37
b    18
d    24
e    13
f    26
g    25
h    29

In [147]:
df[(df["var1"] > 7) & (df["var1"] < 20)] # çoklu condition kullanımı

   var1  var2  var3  var4
b    18    24    17     7
c     8    21    11    33
e    13     3    18     2

In [149]:
df[(df["var1"] > 7) & (df["var1"] < 20)][["var1","var2"]] # çoklu condition kullanımı ve istenilen sütun/lar getirme

   var1  var2
b    18    24
c     8    21
e    13     3

In [151]:
df.loc[["a","f"], ["var1","var3"]] #loc ile satır ve sütun getirme

   var1  var3
a    37    15
f    26    17

In [158]:
df.loc[(df["var1"] > 15) | (df["var2"] >= 20)] #loc ile çoklu condition kullanımı

   var1  var2  var3  var4
a    37    19    15    29
b    18    24    17     7
c     8    21    11    33
d    24    23    22    27
f    26     3    17     3
g    25    16    30     7
h    29    23    21    26

In [159]:
df.reset_index()  # arka planda çalışan indexleri yeniden verdi (ObjectID). var olan index'i korur

  index  var1  var2  var3  var4
0     a    37    19    15    29
1     b    18    24    17     7
2     c     8    21    11    33
3     d    24    23    22    27
4     e    13     3    18     2
5     f    26     3    17     3
6     g    25    16    30     7
7     h    29    23    21    26

In [160]:
df.reset_index(drop =True) #var olan index düşürülür(silinir)

   var1  var2  var3  var4
0    37    19    15    29
1    18    24    17     7
2     8    21    11    33
3    24    23    22    27
4    13     3    18     2
5    26     3    17     3
6    25    16    30     7
7    29    23    21    26

In [162]:
df.reset_index(drop=True, inplace = True) # var olan index düşürülür(silinir) ve inplace (yerinde değiştir) ile kalıcı hale getirilir.
df

   var1  var2  var3  var4
0    37    19    15    29
1    18    24    17     7
2     8    21    11    33
3    24    23    22    27
4    13     3    18     2
5    26     3    17     3
6    25    16    30     7
7    29    23    21    26

In [165]:
df.set_index("var3") # var3 sütununun değerleri yeni index numarası oldu

      var1  var2  var4
var3
15      37    19    29
17      18    24     7
11       8    21    33
22      24    23    27
18      13     3     2
17      26     3     3
30      25    16     7
21      29    23    26

**Multi Index**

In [166]:
outside = ['M1', 'M1', 'M1', 'M2', 'M2', 'M2','M3', 'M3', 'M3'] # zip ile list oluştuturma
inside = [1, 2, 3, 1, 2, 3, 5, 6, 7]
multi_index = list(zip(outside, inside))
multi_index

[('M1', 1),
 ('M1', 2),
 ('M1', 3),
 ('M2', 1),
 ('M2', 2),
 ('M2', 3),
 ('M3', 5),
 ('M3', 6),
 ('M3', 7)]

In [169]:
hier_index = pd.MultiIndex.from_tuples(multi_index) # pandas series oluşturma
hier_index

MultiIndex([('M1', 1),
            ('M1', 2),
            ('M1', 3),
            ('M2', 1),
            ('M2', 2),
            ('M2', 3),
            ('M3', 5),
            ('M3', 6),
            ('M3', 7)],
           )

In [170]:
np.random.seed(101)
df=pd.DataFrame(np.random.randn(9,4), index = hier_index, columns = ["A","B","C","D"]) # Pandas Multi Index Oluşturma
df

             A         B         C         D
M1 1  2.706850  0.628133  0.907969  0.503826
   2  0.651118 -0.319318 -0.848077  0.605965
   3 -2.018168  0.740122  0.528813 -0.589001
M2 1  0.188695 -0.758872 -0.933237  0.955057
   2  0.190794  1.978757  2.605967  0.683509
   3  0.302665  1.693723 -1.706086 -1.159119
M3 5 -0.134841  0.390528  0.166905  0.184502
   6  0.807706  0.072960  0.638787  0.329646
   7 -0.497104 -0.754070 -0.943406  0.484752

In [173]:
df.index.names #df indexleri kapalı durumda.. (dış index (M1..) (iç index(1...)

FrozenList([None, None])

In [174]:
df.index.names = ["group", "num"] # df iç ve dış index' isim verildi
df

                  A         B         C         D
group num
M1    1    2.706850  0.628133  0.907969  0.503826
      2    0.651118 -0.319318 -0.848077  0.605965
      3   -2.018168  0.740122  0.528813 -0.589001
M2    1    0.188695 -0.758872 -0.933237  0.955057
      2    0.190794  1.978757  2.605967  0.683509
      3    0.302665  1.693723 -1.706086 -1.159119
M3    5   -0.134841  0.390528  0.166905  0.184502
      6    0.807706  0.072960  0.638787  0.329646
      7   -0.497104 -0.754070 -0.943406  0.484752

In [175]:
df.index # index'ler görünüyor..

MultiIndex([('M1', 1),
            ('M1', 2),
            ('M1', 3),
            ('M2', 1),
            ('M2', 2),
            ('M2', 3),
            ('M3', 5),
            ('M3', 6),
            ('M3', 7)],
           names=['group', 'num'])

In [176]:
df.index.levels # iç ve dış indexler

FrozenList([['M1', 'M2', 'M3'], [1, 2, 3, 5, 6, 7]])

In [177]:
df.loc["M1"] # dış(group) index ile seçileni getirme

            A         B         C         D
num
1    2.706850  0.628133  0.907969  0.503826
2    0.651118 -0.319318 -0.848077  0.605965
3   -2.018168  0.740122  0.528813 -0.589001

In [180]:
df.loc[("M1",2)] #dış index M1 satır index = 2

A    0.651118
B   -0.319318
C   -0.848077
D    0.605965
Name: (M1, 2), dtype: float64

In [184]:
df.loc[("M1",2)][["A","D"]] # M1 = group(dış) index , 2 = satır index, ["A", "D"] = sütun adları

A    0.651118
D    0.605965
Name: (M1, 2), dtype: float64

In [185]:
df.loc[[("M1",2)], "A" : "C"] # M1 = group(dış) index , 2 = satır index, ["A": "D"] = sütun adları

                  A         B         C
group num
M1    2    0.651118 -0.319318 -0.848077

In [186]:
df.loc["M1":"M2"]

                  A         B         C         D
group num
M1    1    2.706850  0.628133  0.907969  0.503826
      2    0.651118 -0.319318 -0.848077  0.605965
      3   -2.018168  0.740122  0.528813 -0.589001
M2    1    0.188695 -0.758872 -0.933237  0.955057
      2    0.190794  1.978757  2.605967  0.683509
      3    0.302665  1.693723 -1.706086 -1.159119

In [189]:
df.loc[("M1",2):("M2",1)] # M1, M2 = dış indek, 2,1 = satır index --> M1'in 2. satırından başla M2'nin 1 satırına kadar(dahil) getir

                  A         B         C         D
group num
M1    2    0.651118 -0.319318 -0.848077  0.605965
      3   -2.018168  0.740122  0.528813 -0.589001
M2    1    0.188695 -0.758872 -0.933237  0.955057

In [192]:
df.loc[("M1,3"):("M2")] # M1, M2 = dış indek, 3 = satır index --> M1'in 3. satırından başla M2'nin tüm sayırlarını getir

                  A         B         C         D
group num
M2    1    0.188695 -0.758872 -0.933237  0.955057
      2    0.190794  1.978757  2.605967  0.683509
      3    0.302665  1.693723 -1.706086 -1.159119

In [197]:
df.loc[[("M1", 2),("M2",1)]] # M1'in 2. satır index ve M2'nin 1. satır indexlerinde olan değerleri getir

                  A         B         C         D
group num
M1    2    0.651118 -0.319318 -0.848077  0.605965
M2    1    0.188695 -0.758872 -0.933237  0.955057

In [198]:
df.loc[[("M1", 2),("M2",1)]]["A"] # A sütununda buluna M1'in 2. satır index ve M2'nin 1. satır indexlerinde olan değerleri getir

group  num
M1     2      0.651118
M2     1      0.188695
Name: A, dtype: float64

**Örnek veri üzerinde çalışma**

In [200]:
import seaborn as sns
df = sns.load_dataset("iris")
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [215]:
df[(df["species"] == "setosa") & (df["sepal_length"] <= 4.5)]

    sepal_length  sepal_width  petal_length  petal_width species
8            4.4          2.9           1.4          0.2  setosa
13           4.3          3.0           1.1          0.1  setosa
38           4.4          3.0           1.3          0.2  setosa
41           4.5          2.3           1.3          0.3  setosa
42           4.4          3.2           1.3          0.2  setosa

In [256]:
df[(df["species"] == "setosa") & (df["sepal_length"] <= 4.5)][["sepal_length","species"]]

    sepal_length species
8            4.4  setosa
13           4.3  setosa
38           4.4  setosa
41           4.5  setosa
42           4.4  setosa

In [212]:
df["species"].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [218]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [239]:
df["carp"] = df["sepal_length"] * df["sepal_width"]
df

     sepal_length  sepal_width  petal_length  petal_width    species   carp
0             5.1          3.5           1.4          0.2     setosa  17.85
1             4.9          3.0           1.4          0.2     setosa  14.70
2             4.7          3.2           1.3          0.2     setosa  15.04
3             4.6          3.1           1.5          0.2     setosa  14.26
4             5.0          3.6           1.4          0.2     setosa  18.00
..            ...          ...           ...          ...        ...    ...
145           6.7          3.0           5.2          2.3  virginica  20.10
146           6.3          2.5           5.0          1.9  virginica  15.75
147           6.5          3.0           5.2          2.0  virginica  19.50
148           6.2          3.4           5.4          2.3  virginica  21.08
149           5.9          3.0           5.1          1.8  virginica  17.70

[150 rows x 6 columns]

In [238]:
import numpy as np

In [255]:
df.index = np.arange(0,len(df))
df

     sepal_length  sepal_width  petal_length  petal_width    species   carp
0             5.1          3.5           1.4          0.2     setosa  17.85
1             4.9          3.0           1.4          0.2     setosa  14.70
2             4.7          3.2           1.3          0.2     setosa  15.04
3             4.6          3.1           1.5          0.2     setosa  14.26
4             5.0          3.6           1.4          0.2     setosa  18.00
..            ...          ...           ...          ...        ...    ...
145           6.7          3.0           5.2          2.3  virginica  20.10
146           6.3          2.5           5.0          1.9  virginica  15.75
147           6.5          3.0           5.2          2.0  virginica  19.50
148           6.2          3.4           5.4          2.3  virginica  21.08
149           5.9          3.0           5.1          1.8  virginica  17.70

[150 rows x 6 columns]

In [250]:
df.max()

sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
carp                30.02
dtype: object

In [259]:
df.drop("sepal_width", axis = 1)

     sepal_length  petal_length  petal_width    species   carp
0             5.1           1.4          0.2     setosa  17.85
1             4.9           1.4          0.2     setosa  14.70
2             4.7           1.3          0.2     setosa  15.04
3             4.6           1.5          0.2     setosa  14.26
4             5.0           1.4          0.2     setosa  18.00
..            ...           ...          ...        ...    ...
145           6.7           5.2          2.3  virginica  20.10
146           6.3           5.0          1.9  virginica  15.75
147           6.5           5.2          2.0  virginica  19.50
148           6.2           5.4          2.3  virginica  21.08
149           5.9           5.1          1.8  virginica  17.70

[150 rows x 5 columns]

In [264]:
df.loc[20:30,["petal_width", "species"]]

    petal_width species
20          0.2  setosa
21          0.4  setosa
22          0.2  setosa
23          0.5  setosa
24          0.2  setosa
25          0.2  setosa
26          0.4  setosa
27          0.2  setosa
28          0.2  setosa
29          0.2  setosa
30          0.2  setosa